.subHeader{
    padding: 36px 0px;
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
}

.heading {
    display: inline-block !important;
    font-weight: 600 !important;
}